.shop-catalog-item{
  flex-basis: 25%;
  box-shadow: 0 0 8px 0 #e0e0e0;
  padding: $padding*2;
  margin-bottom: $margin*2;
  &__image {
    position: relative;
    width: 250px;
    height: 450px;
    background-size: 10% 10%;
    
  }
}