@import './reset.scss';
@import './variables.scss';
@import '../styles/catalog/shop-catalog-item.scss';
@import '../styles/cart/shop-cart.scss';
@import '../styles/cart/shop-cart-item.scss';

@import './btns.scss';

h1{
  padding: $padding*4;
  font-weight: 600;
  font-size: 30px;
  color: black;
  text-transform: capitalize;
}
 h2{
  font-size: 25px;
  font-weight: 700;
}
p{
  padding: $padding;
  font-size: 20px;
  font-weight: 700;
}
